.mesures > .mesure-labels,
.mesures > .mesure-values,
.mesures > .mesure-values input {
    margin-bottom: 0;
}

.mesures > .mesure-values .btn {
    height: 42px;
}

ion-icon {
    font-size: 21px;
}