<label for="prestationList" class="active">Ajouter une prestation</label>
<div style="display: flex;">
    <select id="prestationList" name="prestationList" class="browser-default prestation-selector"
        [(ngModel)]="detailsObject.tempPrestation" [disabled]="prestationList.length === 0">
        <option *ngFor="let p of prestationList"
            [value]="p.id"
            [selected]="p.id === defaultPrestationId"
            >
            {{ prestationDisplayName(p) }}
        </option>
    </select>
    <div class="sirs-ion-fab-button">
        <ion-fab slot="fixed">
            <ion-fab-button color="danger" (click)="addPrestation()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</div>
<label>La liste des prestations associées</label>
<ion-list>
    <ion-item *ngFor="let prestation of degradationPrestations"
        style="display:flex;" (click)="detailsObject.openPrestationLink(prestation.id)">
        <span>{{ prestationDisplayName(prestation) }}</span>
        <ion-fab horizontal="end">
            <ion-fab-button class="sirs-button-item" color="dark"
                (click)="removePrestation(prestation); $event.stopPropagation()">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-item>
</ion-list>
