<div class="row">
  <div class="sirs-field col col-50">
      <form-template-materiau-id></form-template-materiau-id>
  </div>
  <div class="sirs-field col col-50">
      <form-template-nature-id></form-template-nature-id>
  </div>
</div>
<div class="row">
  <div class="sirs-field col col-50">
      <form-template-fonction-id></form-template-fonction-id>
  </div>
  <div class="sirs-field col col-50">
      <label for="width" class="active">Epaisseur</label>
      <input id="width" name="width" type="number" [(ngModel)]="EOS.objectDoc.epaisseur"/>
  </div>
</div>
