[submodule "Produits/Geomatys/Librairies/Ionic/geomatys-ionic-libraries-framework"]
	path = ../../../Produits/Geomatys/Librairies/Ionic/geomatys-ionic-libraries-framework
	url = ../../../Produits/Geomatys/Librairies/Ionic/geomatys-ionic-libraries-framework
