# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.apk
*.aab
*.idsig
*.iml
*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/dist
/node_modules
/platforms
/plugins/*
!/plugins/com.rde.cachemap
!/plugins/cordova-base64-to-gallery
!/plugins/cordova-plugin-file
!/plugins/cordova.plugins.diagnostic
/www
coverage
script.py
package-lock.json
