
<div [ngSwitch]="status">

  <div *ngSwitchCase="0">
    <div class="sirs-card-content">
      <h2 class="sirs-card-title">Choix de la base de données</h2>
      <p>Sélectionnez une base de données puis appuyez sur "connexion".</p>
      <ul class="collection">
          <li class="collection-item avatar" *ngFor="let db of databases | async"
              [class.selected]="db === selectedDatabase" (click)="selectDB(db)">
              <i class="circle pink">{{db.name[0].toUpperCase()}}</i>
              <span class="title">{{db.name}}</span>
              <p>{{db.url}}</p>
              <span class="secondary-content" *ngIf="selectedDatabase === db"><i class="material-icons">check</i></span>
          </li>
      </ul>
    </div>
    <div class="sirs-card-action text-right">
      <button type="button" ion-button class="btn-flat waves-effect waves-teal left" icon-start (click)="addDatabase()">
          <ion-icon name="add-circle-outline"></ion-icon>
          Ajouter une base
      </button>
  
      <button type="button" ion-button class="btn-flat waves-effect waves-light" icon-start [disabled]="!selectedDatabase" (click)="editDatabase()">
              <ion-icon name="pencil-outline"></ion-icon>Edition
      </button>
  
      <button type="button" ion-button class="btn-flat waves-effect waves-light" icon-start [disabled]="!selectedDatabase" (click)="removeDatabase()">
              <ion-icon name="trash-outline"></ion-icon>Supprimer
      </button>
      <button type="button" ion-button class="btn pink waves-effect waves-light" icon-start [disabled]="!selectedDatabase" (click)="validateDatabase()">
              <ion-icon name="checkmark-outline"></ion-icon>
              Valider
      </button>
    </div>
  </div>

  <div *ngSwitchCase="1">
    <app-add-database (statusChange)="changeStatus($event)" ></app-add-database>
  </div>

  <div *ngSwitchCase="2">
    <app-edit-database [databaseIndex]="databaseIndex" (statusChange)="changeStatus($event)" ></app-edit-database>
  </div>

  <div *ngSwitchCase="3">
    <app-replicate-database [databaseIndex]="databaseIndex" (statusChange)="changeStatus($event)" ></app-replicate-database>
  </div>

</div>