:host {
  .db-checked {
    font-size: 21px;
    top: 37% !important;
    right: 33px !important;
  }

  button {
    span {
      margin-left: 10px;
    }
  }
}

.letter-circle {
  color: white;
  font-size: x-large;
  text-align: center;
  line-height: 175%;
}