<div [ngSwitch]="status">

    <div *ngSwitchCase="0">
        <div class="sirs-card-content">
            <h2 class="sirs-card-title">Choix de la base de données</h2>
            <p>Sélectionnez une base de données puis appuyez sur "connexion".</p>
            <ul class="collection">
                <li class="collection-item avatar" *ngFor="let db of databases"
                    [class.selected]="db === selectedDatabase" (click)="selectDB(db)">
                    <span class="circle pink letter-circle">{{db.name[0].toUpperCase()}}</span>
                    <span class="title">{{db.name}}</span>
                    <p>{{db.url}}</p>
                    <span class="secondary-content db-checked" *ngIf="selectedDatabase === db"><ion-icon
                            name="checkmark-outline"></ion-icon></span>
                </li>
            </ul>
        </div>
        <div class="sirs-card-action text-right" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-button (click)="addDatabase()">
                <ion-icon name="add-circle-outline"></ion-icon>
                <span>&nbsp;&nbsp;Ajouter une base</span>
            </button>
            <div>
                <button mat-button [disabled]="!selectedDatabase" (click)="editDatabase()">
                    <ion-icon name="pencil-outline"></ion-icon>
                    <span>&nbsp;&nbsp;Edition</span>
                </button>
                <button mat-button [disabled]="!selectedDatabase" (click)="removeDatabase()">
                    <ion-icon name="trash-outline"></ion-icon>
                    <span>&nbsp;&nbsp;Supprimer</span>
                </button>
                <button mat-raised-button [disabled]="!selectedDatabase" (click)="validateDatabase()">
                    <ion-icon name="checkmark-outline"></ion-icon>
                    <span>&nbsp;&nbsp;Valider</span>
                </button>
                <button mat-icon-button *ngIf="selectedDatabase && !selectedDatabase?.replicated " (click)="openReplicationModal()">
                    <ion-icon name="hourglass"></ion-icon>
                </button>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="1">
        <app-add-database (statusChange)="changeStatus($event)"></app-add-database>
    </div>

    <div *ngSwitchCase="2">
        <app-edit-database [databaseIndex]="databaseIndex" (statusChange)="changeStatus($event)"></app-edit-database>
    </div>

    <div *ngSwitchCase="3">
        <app-replicate-database [databaseIndex]="databaseIndex" [slower] = slowReplication
                                (statusChange)="changeStatus($event)"></app-replicate-database>
    </div>

    <div *ngSwitchCase="4">
        <app-login-database (statusChange)="changeStatus($event)"></app-login-database>
    </div>
    <div *ngSwitchCase="5" class="sirs-card-content">
        <h2 class="sirs-card-title">Fermeture de la précedente  base requise</h2>
        <p>Veuillez fermer la précédente base  avant d'ouvrir celle-ci. Voulez-vous continuer ?</p>
        <div class="sirs-card-action text-right" fxLayout="row" fxLayoutAlign="end center">
            <button mat-button color="primary" (click)="closeDatabase()">
                <ion-icon name="checkmark-outline"></ion-icon>
                <span>&nbsp;&nbsp;Fermer et continuer</span>
            </button>
            <button mat-button color="warn" (click)="cancelAction()">
                <ion-icon name="close-outline"></ion-icon>
                <span>&nbsp;&nbsp;Annuler</span>
            </button>
        </div>
    </div>

</div>
<ng-template #replicationModal>
    <div class="modal-header">
        <h2>Réplication plus lente</h2>
    </div>
    <div class="modal-body">
        <p>En activant cette option, la réplication sera plus lente pour éviter la corruption de données avec de gros fichiers.</p>
        <mat-checkbox [(ngModel)]="slowReplication">
            Activer la réplication lente
        </mat-checkbox>
    </div>
    <div class="modal-footer">
        <button mat-button (click)="closeModal()">Fermer</button>
        <button mat-raised-button color="primary" (click)="confirmSlowReplication()">Confirmer</button>
    </div>
</ng-template>