<div [ngSwitch]="activeTab" class="scrolling-block">
  <div *ngSwitchCase="'description'">
      <div class="sirs-panel">
          <div class="sirs-field-inline">
              <span class="sirs-field-title">Numéro de désignation : </span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.designation"></span>
          </div>
      </div>
      <div class="sirs-section">
          <div class="sirs-field">
              <span class="sirs-field-title">Libellé</span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.libelle"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Largeur</span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.largeur"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Numéro de secteur</span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.numeroSecteur"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Usage</span>
              <span class="sirs-field-value" [textContent]="detailsObject.abstract.usage | async"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Nature</span>
              <span class="sirs-field-value" [textContent]="detailsObject.abstract.nature | async"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Position</span>
              <span class="sirs-field-value" [textContent]="detailsObject.abstract.position | async"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Côté</span>
              <span class="sirs-field-value" [textContent]="detailsObject.abstract.cote | async"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Commentaire</span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.commentaire"></span>
          </div>
      </div>
  </div>
  <!-- Content / Observations -->
  <div *ngSwitchCase="'observations'">
      <observations-generic></observations-generic>
  </div>
  <div *ngSwitchCase="'prestations'" style="padding: 5px 10px;">
      <prestations-generic></prestations-generic>
  </div>
  <div *ngSwitchCase="'desordres'" style="padding: 5px 10px;">
      <desordres-generic></desordres-generic>
  </div>
</div>
