<ion-list>
  <ion-item (click)="detailsObject.openObservationDetails(obs)"
            [ngClass]="{'has-photos': hasPhoto(obs)}"
            *ngFor="let obs of detailsObject.selectedObject.observations">
      <span *ngIf="obs.date">{{ obs.date|date:'dd/MM/yyyy' }}</span>
      <span *ngIf="!obs.date && obs.designation">{{ obs.designation }}</span>
      <span *ngIf="!obs.date && !obs.designation && obs.id">{{ obs.id }}</span>
      <mat-icon *ngIf="hasPhoto(obs)" style="margin-left: auto;">photo_library</mat-icon>
  </ion-item>
</ion-list>