<div class="full-height" [ngSwitch]="slidePath">
  <div class="full-height" *ngSwitchCase="'objectsCreation'">
    <right-slide-create-objects class="full-height"></right-slide-create-objects>
  </div>
  <div class="full-height" *ngSwitchCase="'objectsSelected'">
    <right-slide-selected-objects class="full-height"></right-slide-selected-objects>
  </div>
  <div class="full-height" *ngSwitchCase="'shoreLine'">
    <ion-header translucent>
      <ion-toolbar class="header-slide" color="secondary">
        <ion-title>Trait de berge</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-item>Example Text 1</ion-item>
      <ion-item>Example Text 2</ion-item>
      <ion-item>Example Text 3</ion-item>
      <ion-item>Example Text 4</ion-item>
      <ion-item>Example Text 5</ion-item>
    </ion-list>
  </div>
  <div *ngSwitchDefault>
    <ion-header translucent>
      <ion-toolbar class="header-slide" color="secondary">
        <ion-title>Error Default</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-item>Error Default 1</ion-item>
      <ion-item>Error Default 2</ion-item>
      <ion-item>Error Default 3</ion-item>
      <ion-item>Error Default 4</ion-item>
      <ion-item>Error Default 5</ion-item>
    </ion-list>
  </div>
</div>
