<div class="sirs-panel">
  <div class="sirs-field-inline">
      <span class="sirs-field-title">Numéro de désignation : </span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.designation"></span>
  </div>
</div>
<div class="sirs-section">
  <div class="sirs-field">
      <span class="sirs-field-title">Matériau haut</span>
      <span class="sirs-field-value" [textContent]="detailsObject.abstract.materiauHaut | async"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Matériau bas</span>
      <span class="sirs-field-value" [textContent]="detailsObject.abstract.materiauBas | async"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Nature haut</span>
      <span class="sirs-field-value" [textContent]="detailsObject.abstract.natureHaut | async"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Nature bas</span>
      <span class="sirs-field-value" [textContent]="detailsObject.abstract.natureBas | async"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Epaisseur du sommet</span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.epaisseurSommet"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Pente intérieure</span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.penteInterieure"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Longueur rampant haut</span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.longueurRampantHaut"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Longueur rampant bas</span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.longueurRampantBas"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Longueur fonction</span>
      <span class="sirs-field-value" [textContent]="detailsObject.abstract.fonction | async"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Côté</span>
      <span class="sirs-field-value" [textContent]="detailsObject.abstract.cote | async"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Commentaire</span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.commentaire"></span>
  </div>
</div>