<div [ngSwitch]="activeTab" class="scrolling-block">
  <div *ngSwitchCase="'description'">
      <div class="sirs-panel">
          <div class="sirs-field-inline">
              <span class="sirs-field-title">Numéro de désignation : </span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.designation || 'Non définie'"></span>
          </div>
      </div>
      <div class="sirs-section">
          <div class="sirs-field">
              <span class="sirs-field-title">Libelle</span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.libelle || 'Non définie'"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Date de début</span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.date_debut || 'Non définie'"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Date de fin</span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.date_fin || 'Non définie'"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Position</span>
<!--              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.positionId || 'Non définie'"></span>-->
              <ng-container *ngIf="(detailsObject.selectedObject.positionId | getById | async) as position">
                  <span class="sirs-field-value" [textContent]="position.libelle || position.designation || 'Non définie'"></span>
              </ng-container>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Source</span>
<!--              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.sourceId || 'Non définie'"></span>-->
              <ng-container *ngIf="(detailsObject.selectedObject.sourceId | getById | async) as source">
                  <span class="sirs-field-value" [textContent]="source.libelle || source.designation || 'Non définie'"></span>
              </ng-container>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Tronçon</span>
              <ng-container *ngIf="(detailsObject.selectedObject.linearId | getById | async) as troncon">
                  <span class="sirs-field-value" [textContent]="troncon.libelle || troncon.designation || 'Non définie'"></span>
              </ng-container>
<!--              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.linearId || 'Non définie'"></span>-->
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Type de Prestation</span>
              <ng-container *ngIf="(detailsObject.selectedObject.typePrestationId | getById | async) as type">
                  <span class="sirs-field-value" [textContent]="type.libelle || type.designation || 'Non définie'"></span>
              </ng-container>
<!--              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.typePrestationId || 'Non définie'"></span>-->
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Commentaire</span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.commentaire || 'Non définie'"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Coût Global</span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.coutGlobal || 'Non définie'"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Coût Mètre</span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.coutMetre || 'Non définie'"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Réalisation Interne</span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.realisationInterne || 'Non définie'"></span>
          </div>
          <div class="sirs-field">
              <span class="sirs-field-title">Réalisation Interne</span>
              <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.realisationInterne || 'Non définie'"></span>
          </div>
      </div>
  </div>
  <div *ngSwitchCase="'observations'">
      <observations-generic></observations-generic>
  </div>
  <div *ngSwitchCase="'desordres'" style="padding: 5px 10px;">
      <desordres-generic></desordres-generic>
  </div>
</div>
