// /* tabs */
// .tabs-striped .tabs.tabs-sirs {
//     border-bottom: none;
// }
// .tabs-striped > .tabs.tabs-sirs > .tab-item {
//     color: #00BCD0;
//     border-color: #00BCD0;
// }
// .tabs-striped > .tabs.tabs-sirs > .tab-item.active,
// .tabs-striped > .tabs.tabs-sirs > .tab-item.activated,
// .tabs-striped > .tabs.tabs-sirs > .tab-item-active {
//     color: #0098A6;
//     border-color: #0098A6;
//     border-bottom-width: 3px !important;
// }

@import '~materialize-css/dist/css/materialize.css';

.tabs .tab a{
    color: #00BCD0;
    border-color: #00BCD0;
}

.tabs .tab a.active {
    color: #0098A6;
    border-color: #0098A6;
}

.tabs .indicator {
    background-color: #0098A6 !important;
}
