<div class="full-height" [ngSwitch]="type">
  <div class="full-height" *ngSwitchCase="'Create'">

  </div>
  <div class="full-height" *ngSwitchCase="'Desordre'">
    <form-desordre class="full-height"></form-desordre>
  </div>
  <div class="full-height" *ngSwitchCase="'LaisseCrue'">

  </div>
  <div class="full-height" *ngSwitchCase="'LargeurFrancBord'">

  </div>
  <div class="full-height" *ngSwitchCase="'MonteeEaux'">

  </div>
  <div class="full-height" *ngSwitchCase="'OuvertureBatardable'">

  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageFranchissement'">

  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageHydraulique'">

  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageParticulier'">

  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageRevanche'">

  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageTelecomEnergie'">

  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageVoirie'">

  </div>
  <div class="full-height" *ngSwitchCase="'PiedDigue'">

  </div>
  <div class="full-height" *ngSwitchCase="'ReseauHydrauliqueCielOuvert'">

  </div>
  <div class="full-height" *ngSwitchCase="'ReseauHydrauliqueFerme'">

  </div>
  <div class="full-height" *ngSwitchCase="'ReseauTelecomEnergie'">

  </div>
  <div class="full-height" *ngSwitchCase="'SommetRisberme'">

  </div>
  <div class="full-height" *ngSwitchCase="'StationPompage'">

  </div>
  <div class="full-height" *ngSwitchCase="'TalusDigue'">

  </div>
  <div class="full-height" *ngSwitchCase="'TalusRisberme'">

  </div>
  <div class="full-height" *ngSwitchCase="'TronconDigue'">

  </div>
  <div class="full-height" *ngSwitchCase="'VoieAcces'">

  </div>
  <div class="full-height" *ngSwitchCase="'VoieDigue'">

  </div>
  <div class="full-height" *ngSwitchDefault>
    ERROR SWITCH DEFAULT
  </div>


</div>