<div>
  <div class="sirs-card-action" style="background-color: #0097A7;padding:5px;">
    <a (click)="goBack()" class="btn-flat waves-effect waves-teal">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    </a>
    <button type="button" class="btn pink waves-effect waves-teal right"
    (click)="gallery.deleteAllFiles()">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
  </button>
  </div>
  <div class="row" style="padding-top: 0px;padding-left: 0px;">
    <div class="col col-50" style="padding-left: 0px;border-right: 1px solid cadetblue;">
      <div style="height: 410px;margin-top: 1px;">
        <ion-list style="padding: 0 0 !important;">
          <div *ngFor="let file of gallery.availableFiles">
            <ion-item (click)="gallery.select(file)" [class]="{hb: gallery.fileDoc && file.label === gallery.fileDoc.libelle}">
              <span style="text-overflow:ellipsis">{{ file.label }}</span>
            </ion-item>
          </div>
        </ion-list>
      </div>
    </div>
    <!--Les informations détails d'un fichier-->
    <div *ngIf="gallery.fileDoc" class="col col-50">
      <h5>{{ gallery.fileDoc.libelle }}</h5>
      <button type="button" class="btn waves-effect waves-light" (click)="gallery.open()">
        <ion-icon name="folder-open-outline"></ion-icon>&nbsp;Ouvrir
      </button>
      <button type="button" class="btn waves-effect waves-light" (click)="gallery.deleteFile()">
        <ion-icon name="trash-outline"></ion-icon>&nbsp;Supprimer
      </button>
      <img class="row col col-50" style="margin-top: 10px;"
      alt="Photo non disponible sur le mobile" [src]="gallery.getPhotoPath()"/>
    </div>
  </div>
</div>
