<div class="wrapper" fxLayout="column" fxLayoutAlign="start stretch">
    <ion-tabs style="height: 58px;">
        <ion-tab-bar slot="top">
            <ion-tab-button (click)="setActiveTab('documents')" [selected]="activeTab === 'documents'">
                <ion-label>Documents</ion-label>
                <ion-icon name="document-text-outline"></ion-icon>
            </ion-tab-button>
            <ion-tab-button (click)="setActiveTab('medias')" [selected]="activeTab === 'medias'">
                <ion-label>Médias</ion-label>
                <ion-icon name="image-outline"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
    <div fxFlex class="gallery-content" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="sirs-card-action" style="background-color: #0097A7;padding:10px;">
            <a (click)="goBack()" class="btn-flat waves-effect waves-teal">
                <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            </a>
            <button type="button" class="btn pink waves-effect waves-teal right"
                    (click)="deleteAllFiles()">
                <ion-icon slot="start" name="trash-outline"></ion-icon>
            </button>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
            <div fxFlex="50" style="overflow:auto;border-right: 1px solid cadetblue;">
                <div style="height: 410px;margin-top: 1px;">
                    <ion-list style="padding: 0 0 !important;">
                        <div *ngFor="let file of availableFiles">
                            <ion-item (click)="select(file)"
                                      [ngClass]="{'selected': fileDoc && file.label === fileDoc.libelle}">
                                <span style="text-overflow:ellipsis">{{ file.label }}</span>
                            </ion-item>
                        </div>
                    </ion-list>
                </div>
            </div>
            <div *ngIf="fileDoc" fxFlex="50" style="overflow:auto;" fxLayout="column" fxLayoutAlign="start stretch">
                <div style="padding: 10px;">
                    <span style="font-weight: bold">Nom : </span>
                    <span>{{ fileDoc.libelle }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 0 15px;">
                    <ion-button size="small" color="medium" (click)="open()">
                        <ion-icon name="folder-open-outline"></ion-icon>&nbsp;Ouvrir
                    </ion-button>
                    <ion-button size="small" color="danger" (click)="deleteFile()">
                        <ion-icon name="trash-outline"></ion-icon>&nbsp;Supprimer
                    </ion-button>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" style="padding: 15px;">
                    <img *ngIf="activeTab === 'medias'"
                         alt="Photo non disponible sur le mobile" [src]="getPhotoPath()">
                </div>
            </div>
        </div>
    </div>
</div>
