<ion-menu swipeGesture="false" side="start" menuId="left-slider" contentId="slide" type="push">
  <left-slide class="full-height"></left-slide>
</ion-menu>

<ion-menu swipeGesture="false" side="end" menuId="right-slider" contentId="slide" type="push">
  <right-slide class="full-height"></right-slide>
</ion-menu>

<div class="map full-height" id="slide">
  <header>
      <nav class="navbar navbar-custom navbar-expand-sm">
          <div class="collapse navbar-collapse" id="navbarToggler">
                  <a *ngIf="editionLayer.editionLayer.getVisible()" class="nav-item">Mode Edition</a>
                  <div class="gps-infos" fxLayout="column" fxLayoutAlign="center center" *ngIf="geoloc.lastGPSUpdate">
                      <span class="gps-text">Précision du signal GPS : {{ geoloc.gpsAccuracy }}m</span>
                      <span class="gps-text">&nbsp;{{ geoloc.lastGPSUpdate }}</span>
                  </div>
          </div>
          <a *ngIf="geoloc.enableGeoloc" class="nav-item nav-link" (click)="locateMe()">
              <span><i class="material-icons">gps_fixed</i></span>
          </a>
          <a class="nav-item nav-link" (click)="zoomToMe()">
              <span><i class="material-icons">place</i></span>
          </a>
          <a class="nav-item nav-link" (click)="refresh()">
              <span><i class="material-icons">refresh</i></span>
          </a>
          <a class="nav-item nav-link" (click)="logout()">
              <span><i class="material-icons">power_settings_new</i></span>
          </a>
      </nav>
  </header>

  <div class="map">
    <div id="map" #map></div>
    <div class="left-slider">
        <img src="../../assets/img/slider1.png" (click)="handleSliderLeft()" />
    </div>
    <div class="right-slider">
        <img src="../../assets/img/slider2.png" (click)="handleSliderRight()"/>
    </div>
  </div>
</div>

