
ion-toolbar {
  --min-height: 64px;
}

.header-slide {
  height: 64px;
}

.block-title {
  font-size: 15px;
  margin-left: 15px;
  margin-top: 10px;
}

.block-default-obs {
  display: flex;
  justify-content: center;
  align-items: center;

  .remove-obs {
    width: 55px;
    height: 45px;
    border-radius: 50%;
    background-color: red;
    color: white;
    margin: 10px;
  }
}


