<ion-content>
  <div class="sirs-card">
    <div class="sirs-card-content">
      <h2 class="sirs-card-title">Ajouter un média</h2>
      <div class="row">
        <label>Prendre une photo ou une note</label>
        <div class="center">
          <ion-button color="secondary">
            <ion-icon name="camera-outline"></ion-icon>
            PRENDRE UNE PHOTO
          </ion-button>
          <ion-button color="secondary">
            <ion-icon name="create-outline"></ion-icon>
            EDITER UNE NOTE
          </ion-button>
          <ion-button color="secondary">
            <ion-icon name="images-outline"></ion-icon>
            IMPORTER UN MEDIA
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
