<div [ngSwitch]="activeTab" class="scrolling-block">
    <!-- Content / Description -->
    <div *ngSwitchCase="'description'">
        <ng-container *ngIf="!descLoading; else loader">
            <div class="sirs-panel">
                <div class="sirs-field-inline">
                    <span class="sirs-field-title">Numéro de désignation : </span>
                    <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.designation"></span>
                </div>
            </div>
            <div class="sirs-section">
                <div class="sirs-field">
                    <span class="sirs-field-title">Parcelle végétation</span>
                    <ng-container *ngIf="parcelle">
                    <span class="sirs-field-value"
                          [textContent]="parcelle.designation || parcelle.id"></span>
                    </ng-container>
                </div>
                <div class="sirs-field">
                    <span class="sirs-field-title">Contact Eau</span>
                    <ion-checkbox slot="end" name="contactEau"
                                  disabled="true"
                                  [(ngModel)]="detailsObject.selectedObject.contactEau"></ion-checkbox>
                </div>
                <div class="sirs-field">
                    <span class="sirs-field-title">Position Type</span>
                    <ng-container *ngIf="typePosition">
                    <span class="sirs-field-value"
                          [textContent]="typePosition | formatOptionText"></span>
                    </ng-container>
                </div>
                <div class="sirs-field">
                    <span class="sirs-field-title">Côté Type</span>
                    <ng-container *ngIf="typeCote">
                    <span class="sirs-field-value"
                          [textContent]="typeCote | formatOptionText"></span>
                    </ng-container>
                </div>
                <div class="sirs-field" *ngIf="objectType === 'PeuplementVegetation'">
                    <span class="sirs-field-title">Densité</span>
                    <span class="sirs-field-value"
                          [textContent]="detailsObject.selectedObject.densite"></span>
                </div>
                <div class="sirs-field" *ngIf="objectType === 'PeuplementVegetation'">
                    <span class="sirs-field-title">Hauteur</span>
                    <span class="sirs-field-value"
                          [textContent]="detailsObject.selectedObject.hauteur"></span>
                </div>
                <div class="sirs-field" *ngIf="objectType === 'PeuplementVegetation'">
                    <span class="sirs-field-title">Diamètre</span>
                    <span class="sirs-field-value"
                          [textContent]="detailsObject.selectedObject.diametre"></span>
                </div>
                <div class="sirs-field"
                     *ngIf="objectType === 'PeuplementVegetation' || objectType === 'ArbreVegetation'">
                    <span class="sirs-field-title">État Sanitaire Type</span>
                    <ng-container *ngIf="etatSanitaire">
                    <span class="sirs-field-value"
                          [textContent]="etatSanitaire | formatOptionText"></span>
                    </ng-container>
                </div>
                <div class="sirs-field" *ngIf="objectType === 'ArbreVegetation'">
                    <span class="sirs-field-title">Hauteur</span>
                    <ng-container *ngIf="hauteurVegetation">
                    <span class="sirs-field-value"
                          [textContent]="hauteurVegetation | formatOptionText"></span>
                    </ng-container>
                </div>
                <div class="sirs-field" *ngIf="objectType === 'ArbreVegetation'">
                    <span class="sirs-field-title">Diamètre</span>
                    <ng-container *ngIf="diametreVegetation">
                    <span class="sirs-field-value"
                          [textContent]="diametreVegetation | formatOptionText"></span>
                    </ng-container>
                </div>
                <div class="sirs-field" *ngIf="objectType === 'InvasiveVegetation'">
                    <span class="sirs-field-title">Densité</span>

                    <ng-container *ngIf="densiteVegetation">
                    <span class="sirs-field-value"
                          [textContent]="densiteVegetation | formatOptionText"></span>
                    </ng-container>
                </div>
                <div class="sirs-field">
                    <span class="sirs-field-title">Commentaire</span>
                    <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.commentaire"></span>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #loader>
    <div class="loading-wrapper">
        <div class="loader">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</ng-template>
