<ion-header translucent>
  <ion-toolbar>
    <ion-title>Définir une position via une borne</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div>
    <label>Système de repérage: </label>
    <select id="sr" class="browser-default" [(ngModel)]="systemeReperageId" name="sr" (change)="selectSR()">
      <option *ngFor="let sr of systemeReperageList" [value]="sr.value._id"
        [selected]="systemeReperageId === sr.value._id">
        {{ sr.value.libelle }}
      </option>
    </select>
  </div>

  <div *ngIf="systemeReperage">
    <label>Borne du système de repérage : </label>
    <select id="bsr" class="browser-default" [(ngModel)]="data.borneId" (change)="updateBorneLibelle()" name="bsr">
      <option *ngFor="let srb of systemeReperage.value.systemeReperageBornes"
        [value]="srb.borneId"
        [selected]="data.borneId === srb.borneId">
        {{ srb.libelle }}
      </option>
    </select>
  </div>

  <div *ngIf="systemeReperage">
    <label for="distance" class="active">Distance à la borne (en mètre): </label>
    <input id="distance" type="number" class="validate" [(ngModel)]="data.borne_distance" name="distance"
      placeholder="" />
  </div>

  <div *ngIf="systemeReperage">
    <label for="pos" class="active">Position de l'élément par rapport à la borne  : </label>
    <select id="pos" class="browser-default" [(ngModel)]="data.borne_aval" name="pos">
      <option [value]="'false'" [selected]="data.borne_aval === 'false'">
        Aval
      </option>
      <option [value]="'true'" [selected]="data.borne_aval === 'true'">
        Amont
      </option>
    </select>
  </div>
</ion-content>
<ion-footer slot="end">
  <div class="right" style="padding: 0;">
    <button class="waves-effect waves-light btn" (click)="validate()">
      Valider le choix
      <ion-icon slot="end" name="thumbs-up-outline"></ion-icon>
    </button>
  </div>
</ion-footer>