<ion-header translucent>
  <ion-toolbar>
    <ion-title>Choisissez une couleur</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="square-container" *ngFor="let color of colors; let index=index;">
      <div class="square-container" *ngIf="index % 4 === 0">
          <div class="square" *ngIf="index < colors.length"
            (click)="selectColor(colors[index].rgb)"
            [ngStyle]="{'background-color': calculateBackGroundColor(colors[index])}">
              <ion-button class="content" [fill]="ifSelected(colors[index].rgb)" color="light">
                {{colors[index].name}}
              </ion-button>
            </div>
          <div class="square" *ngIf="index + 1 < colors.length"
            (click)="selectColor(colors[index+1].rgb)"
            [ngStyle]="{'background-color': calculateBackGroundColor(colors[index+1])}">
              <ion-button class="content" [fill]="ifSelected(colors[index+1].rgb)" color="light">
                {{colors[index+1].name}}
              </ion-button>
            </div>
          <div class="square" *ngIf="index + 2 < colors.length"
            (click)="selectColor(colors[index+2].rgb)"
            [ngStyle]="{'background-color': calculateBackGroundColor(colors[index+2])}">
              <ion-button class="content" [fill]="ifSelected(colors[index+2].rgb)" color="light">
                {{colors[index+2].name}}
              </ion-button>
            </div>
          <div class="square" *ngIf="index + 3 < colors.length"
            (click)="selectColor(colors[index+3].rgb)"
            [ngStyle]="{'background-color': calculateBackGroundColor(colors[index+3])}">
            <ion-button class="content" [fill]="ifSelected(colors[index+3].rgb)" color="light">
              {{colors[index+3].name}}
            </ion-button>
          </div>
        </div>
      </div>
</ion-content>
<ion-footer slot="end">
  <div class="right" style="padding: 0;">
    <button class="waves-effect waves-light btn" [disabled]="!selectedColor" (click)="validate()">
      Valider le choix
      <ion-icon slot="end" name="thumbs-up-outline"></ion-icon>
    </button>
  </div>
</ion-footer>
