<!-- Form -->
<div class="full-height edit-screen" *ngIf="view === 'form' && EOS.objectDoc && EOS.refs">
    <div class="edit-object">
        <ion-content [scrollEvents]="tab === 'fields'">
            <div fxLayout="column" fxLayoutAlign="center">
                <form class="sirs-card" #objectForm="ngForm" style="overflow-x: hidden;">
                    <div class="sirs-card-content">
                        <h2 *ngIf="EOS.isNew" class="sirs-card-title">Nouveau/Nouvelle {{ displayName(EOS.type) }}</h2>
                        <h2 *ngIf="!EOS.isNew && EOS.isClosed" class="sirs-card-title">Détail
                            d'un(e) {{ EOS.type }}</h2>
                        <!-- Tabs -->
                        <div class="sirs-nav-tabs" *ngIf="isActiveTabs()">
                            <span class="sirs-tab waves-effect waves-teal" [ngClass]="{active: tab === 'fields'}"
                                  (click)="setTab('fields')">Attributs</span>
                            <span class="sirs-tab waves-effect waves-teal" [ngClass]="{active: tab === 'medias'}"
                                  (click)="setTab('medias')">Medias</span>
                        </div>
                        <!-- Fields Part -->
                        <div class="full-height full-width" *ngIf="tab === 'fields'">
                            <div class="common">
                                <div class="sirs-field">
                                    <label for="designation" class="active label-edit">Désignation</label>
                                    <input id="designation" type="text" class="validate"
                                           [(ngModel)]="EOS.objectDoc.designation" name="designation"
                                           placeholder="Ne pas remplir la désignation si vous souhaitez appliquer l'auto-incrémentation."/>
                                </div>


                                <div *ngIf="((!EOS.isDependance() && !EOS.isVegetation())  || EOS.objectType === 'TraitAmenagementHydraulique') && (EOS.isNew || EOS.isClosed)"
                                     class="switch">
                                    <label class="label-edit">
                                        Objet ponctuel
                                        <input type="checkbox" id="checkbox" [(ngModel)]="EOS.isLinear" name="checkbox"
                                               (ngModelChange)="EOS.changeObjectType()"/>
                                        <span class="lever"></span>
                                        Objet linéaire
                                    </label>
                                </div>

                                <div *ngIf="EOS.isDependance() && EOS.objectType !== 'TraitAmenagementHydraulique' && (EOS.isNew || EOS.isClosed)"
                                     class="switch">
                                    <select id="objectType" class="browser-default" [(ngModel)]="EOS.objDependanceType"
                                            name="objectType" (change)="EOS.changeObjectTypeDependance()">
                                        <option [value]="'point'" [selected]="EOS.objDependanceType === 'point'">
                                            Objet ponctuel
                                        </option>
                                        <option [value]="'line'" [selected]="EOS.objDependanceType === 'line'">
                                            Objet linéaire
                                        </option>
                                        <option [value]="'polygon'" [selected]="EOS.objDependanceType === 'polygon'">
                                            Objet polygonale
                                        </option>
                                    </select>
                                </div>

                                <div *ngIf="EOS.isVegetation() && EOS.objectDoc.parcelleId && (EOS.isNew || EOS.isClosed)"
                                     class="switch">
                                    <select id="objectType" class="browser-default" [(ngModel)]="EOS.objVegetationType"
                                            name="objectType" (change)="EOS.changeObjectTypeVegetation()">
                                        <option *ngIf="EOS.objectDoc['@class'] === 'fr.sirs.core.model.ArbreVegetation'"
                                                [value]="'point'" [selected]="EOS.objVegetationType === 'point'">
                                            Objet ponctuel
                                        </option>
                                        <option *ngIf="EOS.objectDoc['@class'] !== 'fr.sirs.core.model.ArbreVegetation'"
                                                [value]="'polygon'" [selected]="EOS.objVegetationType === 'polygon'">
                                            Objet polygonale
                                        </option>
                                    </select>
                                </div>

                                <div class="sirs-field-inline" *ngIf="!EOS.isLinear && !EOS.isDependance() && !EOS.isVegetation()"
                                     fxLayout="row" fxLayoutAlign="space-between center">
                                    <div>
                                        <div class="sirs-field-title"
                                             *ngIf="EOS.objectDoc.editedGeoCoordinate || (EOS.objectDoc.valid && EOS.objectDoc.positionDebut)">
                                            Position :
                                        </div>
                                        <div class="sirs-field-value"
                                             *ngIf="EOS.objectDoc.editedGeoCoordinate || (EOS.objectDoc.valid && EOS.objectDoc.positionDebut)">
                                            {{getStartPositionValue()}}
                                        </div>
                                        <div class="sirs-field-title"
                                             *ngIf="!EOS.objectDoc.editedGeoCoordinate">
                                            Position : {{ EOS.startPosBorneLabel }}
                                        </div>
                                    </div>
                                    <div *ngIf="!EOS.isLinear && !EOS.isDependance()" fxLayout="row">
                                        <button class="option-button" (click)="EOS.locateMe()"
                                                *ngIf="EOS.activatedGPSPositionButton()">
                                            <ion-icon class="option-button-icon" name="navigate-outline"></ion-icon>
                                        </button>
                                        <button class="option-button" (click)="selectPos()"
                                                *ngIf="EOS.activatedGPSPositionButton()">
                                            <ion-icon class="option-button-icon" name="pencil-outline"></ion-icon>
                                        </button>
                                        <button class="option-button" (click)="selectPosBySR()"
                                                *ngIf="EOS.activatedPositionButton() && !EOS.isDependance()">
                                            <ion-icon class="option-button-icon" name="options-outline"></ion-icon>
                                        </button>
                                    </div>
                                </div>

                                <div class="sirs-field-inline" *ngIf="EOS.isLinear && !EOS.isDependance() && !EOS.isVegetation()">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="sirs-field-title" *ngIf="!EOS.objectDoc.systemeRepId">
                                            Position de début : {{ EOS.getStartPos() }}
                                        </div>
                                        <div class="sirs-field-title" *ngIf="EOS.objectDoc.systemeRepId">
                                            Position de début : {{ EOS.startPosBorneLabel }}
                                        </div>
                                        <div>
                                            <button class="option-button"
                                                    (click)="EOS.linearPosEditionHandler.startPoint = true; EOS.linearPosEditionHandler.endPoint = false; EOS.locateMe()"
                                                    *ngIf="EOS.activatedGPSPositionButton()">
                                                <ion-icon class="option-button-icon" name="navigate-outline"></ion-icon>
                                            </button>
                                            <button class="option-button"
                                                    (click)="EOS.linearPosEditionHandler.startPoint = true; EOS.linearPosEditionHandler.endPoint = false; selectPos()"
                                                    *ngIf="EOS.activatedGPSPositionButton()">
                                                <ion-icon class="option-button-icon" name="pencil-outline"></ion-icon>
                                            </button>
                                            <button class="option-button"
                                                    (click)="EOS.linearPosEditionHandler.startPoint = true; EOS.linearPosEditionHandler.endPoint = false; selectPosBySR()"
                                                    *ngIf="EOS.activatedPositionButton() && !EOS.isDependance() && EOS.troncons && EOS.troncons.length > 0">
                                                <ion-icon class="option-button-icon" name="options-outline"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="sirs-field-title" *ngIf="!EOS.objectDoc.systemeRepId">
                                            Position de fin : {{ EOS.getEndPos() }}
                                        </div>
                                        <div class="sirs-field-title" *ngIf="EOS.objectDoc.systemeRepId">
                                            Position de fin : {{ EOS.endPosBorneLabel }}
                                        </div>
                                        <div>
                                            <button class="option-button"
                                                    (click)="EOS.linearPosEditionHandler.startPoint = false; EOS.linearPosEditionHandler.endPoint = true; EOS.locateMe()"
                                                    *ngIf="EOS.activatedGPSPositionButton()">
                                                <ion-icon class="option-button-icon" name="navigate-outline"></ion-icon>
                                            </button>
                                            <button class="option-button"
                                                    (click)="EOS.linearPosEditionHandler.startPoint = false; EOS.linearPosEditionHandler.endPoint = true; selectPos()"
                                                    *ngIf="EOS.activatedGPSPositionButton()">
                                                <ion-icon class="option-button-icon" name="pencil-outline"></ion-icon>
                                            </button>
                                            <button class="option-button"
                                                    (click)="EOS.linearPosEditionHandler.startPoint = false; EOS.linearPosEditionHandler.endPoint = true; selectPosBySR()"
                                                    *ngIf="EOS.activatedPositionButton() && !EOS.isDependance() && EOS.troncons && EOS.troncons.length > 0">
                                                <ion-icon class="option-button-icon" name="options-outline"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="sirs-field-inline" *ngIf="EOS.isDependance()" fxLayout="row"
                                     fxLayoutAlign="space-between center">
                                    <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between center"
                                         class="sirs-field-title" *ngIf="EOS.objDependanceType === 'polygon'">
                                        <div>
                                            Dessiner un polygone
                                        </div>
                                        <button class="option-button" (click)="drawPolygon()">
                                            <ion-icon class="option-button-icon" name="triangle-outline"></ion-icon>
                                        </button>
                                    </div>

                                    <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between center"
                                         class="sirs-field-title" *ngIf="EOS.objDependanceType === 'point'">
                                        <div>
                                            Position : {{ EOS.getStartPosDependance() }}
                                        </div>
                                        <div>
                                            <button class="option-button" (click)="EOS.locateMe()"
                                                    *ngIf="EOS.objDependanceType === 'point'">
                                                <ion-icon class="option-button-icon" name="navigate-outline"></ion-icon>
                                            </button>
                                            <button class="option-button" (click)="selectPos()"
                                                    *ngIf="EOS.objDependanceType === 'point'">
                                                <ion-icon class="option-button-icon" name="pencil-outline"></ion-icon>
                                            </button>
                                        </div>
                                    </div>

                                    <div style="width: 100%" class="sirs-field-title"
                                         *ngIf="EOS.objDependanceType === 'line'">
                                        <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between center">
                                            <div>
                                                Position de début : {{ EOS.getStartPosDependance() }}
                                            </div>
                                            <button class="option-button"
                                                    (click)="EOS.linearPosEditionHandler.startPoint = true; EOS.linearPosEditionHandler.endPoint = false; selectPos()"
                                                    *ngIf="EOS.objDependanceType === 'line'">
                                                <ion-icon class="option-button-icon" name="pencil-outline"></ion-icon>
                                            </button>
                                        </div>
                                        <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between center">
                                            <div>
                                                Position de fin : {{ EOS.getEndPosDependance() }}
                                            </div>
                                            <button class="option-button"
                                                    (click)="EOS.linearPosEditionHandler.startPoint = false; EOS.linearPosEditionHandler.endPoint = true; selectPos()"
                                                    *ngIf="EOS.objDependanceType === 'line'">
                                                <ion-icon class="option-button-icon" name="pencil-outline"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="sirs-field-inline" *ngIf="EOS.isVegetation()" fxLayout="row"
                                     fxLayoutAlign="space-between center">
                                    <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between center"
                                         class="sirs-field-title" *ngIf="EOS.objVegetationType === 'polygon'">
                                        <div>
                                            Dessiner un polygone
                                        </div>
                                        <button class="option-button" (click)="drawPolygon()">
                                            <ion-icon class="option-button-icon" name="triangle-outline"></ion-icon>
                                        </button>
                                    </div>

                                    <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between center"
                                         class="sirs-field-title"
                                         *ngIf="EOS.objVegetationType === 'point'">
                                        <div>
                                            Position : {{ EOS.getStartPosDependance() }}
                                        </div>
                                        <div>
                                            <button class="option-button" (click)="EOS.locateMe()"
                                                    *ngIf="EOS.objVegetationType === 'point'">
                                                <ion-icon class="option-button-icon" name="navigate-outline"></ion-icon>
                                            </button>
                                            <button class="option-button" (click)="selectPos()"
                                                    *ngIf="EOS.objVegetationType === 'point'">
                                                <ion-icon class="option-button-icon" name="pencil-outline"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row" *ngIf="!EOS.isDependance() && !EOS.isVegetation()">
                                <div class="sirs-field col col-100">
                                    <label for="trancon" class="active edit-label">La liste des Tronçons</label>
                                    <select id="trancon" class="browser-default" [(ngModel)]="EOS.objectDoc.linearId"
                                            name="trancon">
                                        <option *ngFor="let troncon of EOS.troncons" [ngValue]="troncon.id">
                                            {{ troncon.libelle }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" *ngIf="EOS.isVegetation()">
                                <div class="sirs-field col col-100">
                                    <label for="parcelle" class="active edit-label">La liste des Parcelles Vegetation</label>
                                    <select id="parcelle" class="browser-default" [(ngModel)]="EOS.objectDoc.parcelleId"
                                            name="parcelle">
                                        <option *ngFor="let parcelle of EOS.parcelles" [ngValue]="parcelle.value.id">
                                            {{ parcelle.value.designation || parcelle.value.id }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" *ngIf="EOS.isVegetation()">
                                <div class="sirs-field col col-100" style="display: flex;gap: 10px;">
                                    <ion-checkbox slot="end" name="contactEau"
                                                  [(ngModel)]="EOS.objectDoc.contactEau"></ion-checkbox>
                                    <label style="margin-top: 3px">Contact Eau</label>
                                </div>
                            </div>

                            <div class="row" *ngIf="EOS.isVegetation()" style="padding: 0 10px;">
                                <div fxFlex="50">
                                    <label>Position Type</label>
                                    <ion-select name="positionType" [(ngModel)]="EOS.objectDoc.typePositionId">
                                        <ion-select-option *ngFor="let position of EOS.refs.RefPosition"
                                                           [value]="position.id">
                                            {{formatOptionText(position)}}
                                        </ion-select-option>
                                    </ion-select>
                                </div>
                                <div fxFlex="50">
                                    <label>Côté Type</label>
                                    <ion-select name="coteType" [(ngModel)]="EOS.objectDoc.typeCoteId">
                                        <ion-select-option *ngFor="let cote of EOS.refs.RefCote"
                                                           [value]="cote.id">
                                            {{formatOptionText(cote)}}
                                        </ion-select-option>
                                    </ion-select>
                                </div>
                            </div>

                            <div class="row" *ngIf="EOS.isVegetation() && EOS.objectDoc['@class'] === 'fr.sirs.core.model.PeuplementVegetation'">
                                <div class="sirs-field col col-100">
                                    <label for="densite" class="active">Densité</label>
                                    <input id="densite" name="densite" type="number" min=0
                                           [(ngModel)]="EOS.objectDoc.densite" />
                                </div>
                            </div>
                            <div class="row"
                                 *ngIf="EOS.isVegetation() && EOS.objectDoc['@class'] === 'fr.sirs.core.model.PeuplementVegetation'">
                                <div class="sirs-field col col-100">
                                    <label for="hauteur" class="active">Hauteur</label>
                                    <input id="hauteur" name="hauteur" type="number" min=0
                                           [(ngModel)]="EOS.objectDoc.hauteur"/>
                                </div>
                            </div>
                            <div class="row"
                                 *ngIf="EOS.isVegetation() && EOS.objectDoc['@class'] === 'fr.sirs.core.model.PeuplementVegetation'">
                                <div class="sirs-field col col-100">
                                    <label for="diametre" class="active">Diamètre</label>
                                    <input id="diametre" name="diametre" type="number" min=0
                                           [(ngModel)]="EOS.objectDoc.diametre"/>
                                </div>
                            </div>

                            <div class="row"
                                 *ngIf="EOS.isVegetation()
                                 && (EOS.objectDoc['@class'] === 'fr.sirs.core.model.PeuplementVegetation' || EOS.objectDoc['@class'] === 'fr.sirs.core.model.ArbreVegetation')">
                                <div fxFlex="100" style="margin: 0 10px;">
                                    <label>État Sanitaire Type</label>
                                    <ion-select name="etatSanitaire" [(ngModel)]="EOS.objectDoc.etatSanitaireId">
                                        <ion-select-option
                                                *ngFor="let etatSanitaire of EOS.refs.RefEtatSanitaireVegetation"
                                                [value]="etatSanitaire.id">
                                            {{formatOptionText(etatSanitaire)}}
                                        </ion-select-option>
                                    </ion-select>
                                </div>
                            </div>

                            <div class="row"
                                 *ngIf="EOS.isVegetation()
                                 && (EOS.objectDoc['@class'] === 'fr.sirs.core.model.ArbreVegetation')">
                                <div fxFlex="100" style="margin: 0 10px;">
                                    <label>Hauteur</label>
                                    <ion-select name="hauteurId" [(ngModel)]="EOS.objectDoc.hauteurId">
                                        <ion-select-option
                                                *ngFor="let refHauteur of EOS.refs.RefHauteurVegetation"
                                                [value]="refHauteur.id">
                                            {{formatOptionText(refHauteur)}}
                                        </ion-select-option>
                                    </ion-select>
                                </div>
                            </div>
                            <div class="row"
                                 *ngIf="EOS.isVegetation()
                                 && (EOS.objectDoc['@class'] === 'fr.sirs.core.model.ArbreVegetation')">
                                <div fxFlex="100" style="margin: 0 10px;">
                                    <label>Diamètre</label>
                                    <ion-select name="diametreId" [(ngModel)]="EOS.objectDoc.diametreId">
                                        <ion-select-option
                                                *ngFor="let refDiametre of EOS.refs.RefDiametreVegetation"
                                                [value]="refDiametre.id">
                                            {{formatOptionText(refDiametre)}}
                                        </ion-select-option>
                                    </ion-select>
                                </div>
                            </div>
                            <div class="row"
                                 *ngIf="EOS.isVegetation()
                                 && (EOS.objectDoc['@class'] === 'fr.sirs.core.model.InvasiveVegetation')">
                                <div fxFlex="100" style="margin: 0 10px;">
                                    <label>Densité</label>
                                    <ion-select name="densiteId" [(ngModel)]="EOS.objectDoc.densiteId">
                                        <ion-select-option
                                                *ngFor="let refDensite of EOS.refs.RefDensiteVegetation"
                                                [value]="refDensite.id">
                                            {{formatOptionText(refDensite)}}
                                        </ion-select-option>
                                    </ion-select>
                                </div>
                            </div>

                            <div class="row" *ngIf="EOS.objectType === 'DesordreDependance'">
                                <div class="sirs-field col col-100">
                                    <label for="dependance" class="active edit-label">Liste des Dependances</label>
                                    <select id="dependance" name="dependance" class="browser-default"
                                            [(ngModel)]="EOS.objectDoc['dependanceId']">
                                        <option *ngFor="let d of EOS.dependances"
                                                [selected]="EOS.objectDoc.dependanceId === d.id"
                                                (change)="EOS.objectDoc.dependanceId = d.id" [value]="d.id">
                                            {{ d.doc.libelle ? d.doc.libelle : (d.doc.designation ? d.doc.designation : d.id)}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" *ngIf="isAhObjectType()">
                                <div class="sirs-field col col-100">
                                    <label for="ah" class="active edit-label">Liste des Aménagaments
                                        hydrauliques</label>
                                    <select id="ah" name="ah" class="browser-default"
                                            [(ngModel)]="EOS.objectDoc['amenagementHydrauliqueId']">
                                        <option *ngFor="let a of EOS.amenagementHydrauliques" [selected]="ahSelected(a)"
                                                (change)="itChange(a)" [value]="a.id">
                                            {{ a.doc.libelle ? a.doc.libelle : (a.doc.designation ? a.doc.designation : a.id)}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" *ngIf="!EOS.isVegetation()">
                                <div class="sirs-field col col-100">
                                    <label for="date_fin" class="active edit-label">La date de Fin</label>
                                    <input id="date_fin" type="date" [(ngModel)]="EOS.dateWrapper" name="date_fin"
                                           (change)="EOS.formatDate()"/>
                                </div>
                            </div>

                            <forms-template class="full-height" [type]="EOS.type"></forms-template>

                            <div class="sirs-field">
                                <label for="commentaire" class="active edit-label">Commentaire</label>
                                <textarea id="commentaire" class="materialize-textarea" name="commentaire"
                                          [(ngModel)]="EOS.objectDoc.commentaire"></textarea>
                            </div>

                        </div>
                        <!-- Medias Part -->
                        <div class="full-height full-width" *ngIf="tab === 'medias'">
                            <app-media-details [photos]="EOS.objectDoc.photos" [objectDoc]="EOS.objectDoc"
                                               (changeView)="setView($event)"></app-media-details>
                        </div>
                    </div>
                    <div class="sirs-card-action">
                        <a (click)="backToMain()" class="btn-flat waves-effect waves-teal">
                            <ion-icon class="edit-object-end-buttons" slot="start" name="arrow-back-outline"></ion-icon>
                            Annuler
                        </a>
                        <button mat-raised-button color="warn" [disabled]="!objectForm.valid" (click)="EOS.save()">
                            <ion-icon class="edit-object-end-buttons" name="checkmark-outline"></ion-icon>
                            <span>Terminer</span>
                        </button>
                    </div>
                </form>
            </div>
        </ion-content>
    </div>
</div>
<div class="full-height" *ngIf="view === 'map'">
    <map-point class="full-height" (slidePathChange)="changeSlidePath($event)" [isVegetation]="EOS.isVegetation()"></map-point>
</div>
<div class="full-height" *ngIf="view === 'drawLine'">
    <map-line class="full-height" (slidePathChange)="changeSlidePath($event)"></map-line>
</div>
<div class="full-height" *ngIf="view === 'drawPolygon'">
    <map-polygon class="full-height" [isVegetation]="EOS.isVegetation()"
                 (slidePathChange)="changeSlidePath($event)"></map-polygon>
</div>
<div class="full-height" *ngIf="view === 'media'">
    <app-media-form (changeView)="setView($event)"></app-media-form>
</div>