<div [ngSwitch]="slidePath">
  <div *ngSwitchCase="'menu'">
    <left-slide-menu (slidePathChange)="changeSlidePath($event)"></left-slide-menu>
  </div>
  <div *ngSwitchCase="'craftLayers'">

  </div>
  <div *ngSwitchCase="'choiceOfSectionsDigues'">

  </div>
  <div *ngSwitchCase="'backMap'">

  </div>
  <div *ngSwitchCase="'appInfos'">
    <left-slide-appinfos (slidePathChange)="changeSlidePath($event)"></left-slide-appinfos>
  </div>
  <div *ngSwitchCase="'appSettings'">
    <left-slide-appsettings (slidePathChange)="changeSlidePath($event)"></left-slide-appsettings>
  </div>
  <div *ngSwitchDefault>
    <ion-header>
      <ion-toolbar class="header-slide center" color="secondary">
        <ion-title>Error Default</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-item>Error Default 1</ion-item>
      <ion-item>Error Default 2</ion-item>
      <ion-item>Error Default 3</ion-item>
      <ion-item>Error Default 4</ion-item>
      <ion-item>Error Default 5</ion-item>
    </ion-list>
  </div>
</div>
