<div [ngSwitch]="slidePath" class="full-height">
  <div class="full-height" *ngSwitchCase="'menu'">
    <left-slide-menu (slidePathChange)="changeSlidePath($event)"></left-slide-menu>
  </div>
  <div class="full-height" *ngSwitchCase="'craftLayers'">
    <!-- TODO TODO -->
    <ion-header>
      <ion-toolbar class="header-slide center" color="secondary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="main" (click)="goReset()"></ion-back-button>
        </ion-buttons>
        <ion-title>NOT FINISHED</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  <div class="full-height" *ngSwitchCase="'choiceOfSectionsDigues'">
    <!-- TODO TODO -->
    <ion-header>
      <ion-toolbar class="header-slide center" color="secondary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="main" (click)="goReset()"></ion-back-button>
        </ion-buttons>
        <ion-title>NOT FINISHED</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  <div class="full-height" *ngSwitchCase="'backMap'">
    <left-slide-backmap (slidePathChange)="changeSlidePath($event)"></left-slide-backmap>
  </div>
  <div class="full-height" *ngSwitchCase="'appInfos'">
    <left-slide-appinfos class="full-height" (slidePathChange)="changeSlidePath($event)"></left-slide-appinfos>
  </div>
  <div class="full-height" *ngSwitchCase="'appSettings'">
    <left-slide-appsettings (slidePathChange)="changeSlidePath($event)"></left-slide-appsettings>
  </div>
  <div *ngSwitchDefault>
    <ion-header>
      <ion-toolbar class="header-slide center" color="secondary">
        <ion-title>Error Default</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-item>Error Default 1</ion-item>
      <ion-item>Error Default 2</ion-item>
      <ion-item>Error Default 3</ion-item>
      <ion-item>Error Default 4</ion-item>
      <ion-item>Error Default 5</ion-item>
    </ion-list>
  </div>
</div>
