<div class="sirs-panel">
  <div class="sirs-field-inline">
      <span class="sirs-field-title">Numéro de désignation : </span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.designation"></span>
  </div>
</div>
<div class="sirs-section">
  <div class="sirs-field">
      <span class="sirs-field-title">Référence hauteur</span>
      <span class="sirs-field-value" [textContent]="detailsObject.abstract.referenceHauteur | async"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Hauteur</span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.hauteur"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Position de la laisse</span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.positionLaisse"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Position</span>
      <span class="sirs-field-value" [textContent]="detailsObject.abstract.position | async"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Côté</span>
      <span class="sirs-field-value" [textContent]="detailsObject.abstract.cote | async"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Commentaire</span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.commentaire"></span>
  </div>
</div>