<div fxLayout="column" class="full-height">
  <ion-header translucent>
    <ion-toolbar class="header-slide" color="secondary">
      <ion-title>Création d'Objets</ion-title>
    </ion-toolbar>
  </ion-header>
  <div fxFlex class="full-height">
    <ion-content class="full-height">
      <ion-list>
        <ion-radio-group>
          <ion-item *ngFor="let layer of (this.appLayersService.getFavorites() | filterPipe: { editable: true })">
            {{ layer.title }}
            <ion-radio color="success" slot="end" (click)="selectLayer(layer)"></ion-radio>
          </ion-item>
          <ion-item lines="none"></ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-content>
  </div>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-button [disabled]="!selectedLayer && !showAddButtons()" expand="full" color="success" (click)="addObject()">Ajouter un objet</ion-button>
    </ion-toolbar>
  </ion-footer>
</div>
