<div class="full-height" [ngSwitch]="type">
  <div class="full-height" *ngSwitchCase="'Crete'">
    <form-crete class="full-height"></form-crete>
  </div>
  <div class="full-height" *ngSwitchCase="'Desordre'">
    <form-desordre class="full-height"></form-desordre>
  </div>
  <div class="full-height" *ngSwitchCase="'Prestation'">
    <app-base-form class="full-height"></app-base-form>
  </div>
  <div class="full-height" *ngSwitchCase="'LaisseCrue'">
    <form-laisse-crue class="full-height"></form-laisse-crue>
  </div>
  <div class="full-height" *ngSwitchCase="'LargeurFrancBord'">
    <form-largeur-franc-bord class="full-height"></form-largeur-franc-bord>
  </div>
  <div class="full-height" *ngSwitchCase="'MonteeEaux'">
    <form-montee-eaux class="full-height"></form-montee-eaux>
  </div>
  <div class="full-height" *ngSwitchCase="'OuvertureBatardable'">
    <form-ouverture-batardable class="full-height"></form-ouverture-batardable>
  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageFranchissement'">
    <form-ouvrage-franchissement class="full-height"></form-ouvrage-franchissement>
  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageHydrauliqueAssocie'">
    <form-ouvrage-hydraulique class="full-height"></form-ouvrage-hydraulique>
  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageParticulier'">
    <form-ouvrage-particulier class="full-height"></form-ouvrage-particulier>
  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageRevanche'">
    <form-ouvrage-revanche class="full-height"></form-ouvrage-revanche>
  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageTelecomEnergie'">
    <form-ouvrage-telecom-energie class="full-height"></form-ouvrage-telecom-energie>
  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageVoirie'">
    <form-ouvrage-voirie class="full-height"></form-ouvrage-voirie>
  </div>
  <div class="full-height" *ngSwitchCase="'PiedBerge'">
    <form-pied-digue class="full-height"></form-pied-digue>
  </div>
  <div class="full-height" *ngSwitchCase="'ReseauHydrauliqueCielOuvert'">
    <form-reseau-hydraulique-ciel-ouvert class="full-height"></form-reseau-hydraulique-ciel-ouvert>
  </div>
  <div class="full-height" *ngSwitchCase="'ReseauHydrauliqueFerme'">
    <form-reseau-hydraulique-ferme class="full-height"></form-reseau-hydraulique-ferme>
  </div>
  <div class="full-height" *ngSwitchCase="'ReseauTelecomEnergie'">
    <form-reseau-telecom-energie class="full-height"></form-reseau-telecom-energie>
  </div>
  <div class="full-height" *ngSwitchCase="'SommetRisberme'">
    <form-sommet-risberme class="full-height"></form-sommet-risberme>
  </div>
  <div class="full-height" *ngSwitchCase="'StationPompage'">
    <form-station-pompage class="full-height"></form-station-pompage>
  </div>
  <div class="full-height" *ngSwitchCase="'TalusDigue'">
    <form-talus-digue class="full-height"></form-talus-digue>
  </div>
  <div class="full-height" *ngSwitchCase="'TalusRisberme'">
    <form-talus-risberme class="full-height"></form-talus-risberme>
  </div>
  <div class="full-height" *ngSwitchCase="'TronconDigue'">
    <form-troncon-digue class="full-height"></form-troncon-digue>
  </div>
  <div class="full-height" *ngSwitchCase="'VoieAcces'">
    <form-voie-acces class="full-height"></form-voie-acces>
  </div>
  <div class="full-height" *ngSwitchCase="'VoieDigue'">
    <form-voie-digue class="full-height"></form-voie-digue>
  </div>
  <div class="full-height" *ngSwitchCase="'AmenagementHydraulique'">
    <app-base-form class="full-height"></app-base-form>
  </div>
  <div class="full-height" *ngSwitchCase="'DesordreDependance'">
    <form-desordre-dependance-ah class="full-height"></form-desordre-dependance-ah>
  </div>
  <div class="full-height" *ngSwitchCase="'PrestationAmenagementHydraulique'">
    <app-base-form class="full-height"></app-base-form>
  </div>
  <div class="full-height" *ngSwitchCase="'OuvrageAssocieAmenagementHydraulique'">
    <app-base-form class="full-height"></app-base-form>
  </div>
  <div class="full-height" *ngSwitchCase="'StructureAmenagementHydraulique'">
    <app-base-form class="full-height"></app-base-form>
  </div>
  <div class="full-height" *ngSwitchCase="'OrganeProtectionCollective'">
    <app-base-form class="full-height"></app-base-form>
  </div>
  <div class="full-height" *ngSwitchCase="'TraitAmenagementHydraulique'">
    <app-base-form class="full-height"></app-base-form>
  </div>
</div>