<ion-header translucent>
    <ion-toolbar class="header-slide">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-title>Paramètres avancés</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" fullscreen class="scroll-all-content">
    <label class="block-title">Affichage de texte : </label>
    <ion-list>
        <ion-radio-group [value]="showTextConfig">
            <ion-item>
                <span>Abrégé</span>
                <ion-radio [value]="'abstract'"
                           slot="end"
                           color="success"
                           (click)="changeShowTextConfig('abstract')"></ion-radio>
            </ion-item>
            <ion-item>
                <span>Nom complet</span>
                <ion-radio [value]="'fullName'"
                           slot="end"
                           color="success"
                           (click)="changeShowTextConfig('fullName')"></ion-radio>
            </ion-item>
            <ion-item>
                <span>Abrégé / Nom complet</span>
                <ion-radio [value]="'both'"
                           slot="end"
                           color="success"
                           (click)="changeShowTextConfig('both')"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <label class="block-title">Observateur par défaut : </label>
    <div class="block-default-obs">
        <select name="contactList" class="browser-default"
                [(ngModel)]="defaultObservateurId"
                (change)="changeDefaultObservateurId()">
            <option *ngFor="let observateur of contactList | sortByDocNom"
                    [value]="observateur.id"
                    [selected]="observateur.id === defaultObservateurId">
                {{ parseContactName(observateur) }}
            </option>
        </select>
        <button class="sirs-button-item remove-obs"
                (click)="defaultObservateurId='';changeDefaultObservateurId();$event.stopPropagation()">
            <ion-icon name="trash-outline"></ion-icon>
        </button>
    </div>

</ion-content>
