<ion-header translucent>
    <ion-toolbar class="header-slide">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-title>Configuration</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" fullscreen class="scroll-all-content">
    <label class="block-title">Affichage de texte : </label>
    <ion-list>
        <ion-radio-group [value]="showTextConfig">
            <ion-item>
                <span>Abrégé</span>
                <ion-radio [value]="'abstract'"
                           slot="end"
                           color="success"
                           (click)="changeShowTextConfig('abstract')"></ion-radio>
            </ion-item>
            <ion-item>
                <span>Nom complet</span>
                <ion-radio [value]="'fullName'"
                           slot="end"
                           color="success"
                           (click)="changeShowTextConfig('fullName')"></ion-radio>
            </ion-item>
            <ion-item>
                <span>Abrégé / Nom complet</span>
                <ion-radio [value]="'both'"
                           slot="end"
                           color="success"
                           (click)="changeShowTextConfig('both')"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <label class="block-title">Sensibilité de la sélection des objets ({{touchSensitivity}} ms)  : </label>
    <ion-range [ticks]="true"
               [snaps]="true"
               [pin]="true"
               [(ngModel)]="touchSensitivity"
               [step]="100"
               [min]="100"
               [max]="1000"></ion-range>
</ion-content>
