<div class="sirs-field">
  <label for="label" class="active">Libellé</label>
  <input id="label" type="text" name="label" [(ngModel)]="EOS.objectDoc.libelle"/>
</div>
<div class="row">
  <div class="sirs-field col col-50">
      <label for="width" class="active">Largeur</label>
      <input id="width" type="number" name="width" [(ngModel)]="EOS.objectDoc.largeur"/>
  </div>
  <div class="sirs-field col col-50">
    <label for="type" class="active">Type de voie</label>
    <div *ngIf="EOS.showText('fullName')">
        <select id="type" class="browser-default"
                name="type" [(ngModel)]="EOS.objectDoc.typeVoieDigueId">
                <option *ngFor="let r of EOS.refs.RefVoieDigue | refSort: EOS.showText('fullName')"
                  [ngValue]="r.id"
                  [selected]="EOS.objectDoc.typeVoieDigueId === r.id">
                      {{ r.libelle ? r.libelle : 'labelle undefined / id:  ' + r.id }}
                </option>
        </select>
    </div>
    <div *ngIf="EOS.showText('abstract')">
        <select id="type" class="browser-default" name="type" [(ngModel)]="EOS.objectDoc.typeVoieDigueId">
            <option *ngFor="let r of EOS.refs.RefVoieDigue | refSort: EOS.showText('fullName')"
                    [ngValue]="r.id"
                    [selected]="EOS.objectDoc.typeVoieDigueId === r.id">
                {{r.abrege ? r.abrege : r.designation + ' : ' + r.libelle}}
            </option>
        </select>
    </div>
    <div *ngIf="EOS.showText('both')">
      <select id="type" class="browser-default" name="type" [(ngModel)]="EOS.objectDoc.typeVoieDigueId">
          <option *ngFor="let r of EOS.refs.RefVoieDigue | refSort: EOS.showText('fullName')"
                  [ngValue]="r.id"
                  [selected]="EOS.objectDoc.typeVoieDigueId === r.id">
                  {{r.abrege ? (r.abrege + ' : ' + r.libelle) : (r.designation + ' : ' + r.libelle)}}
          </option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="sirs-field col col-50">
    <label for="coating" class="active">Revêtement</label>
    <div *ngIf="EOS.showText('fullName')">
        <select id="coating" class="browser-default"
                name="coating" [(ngModel)]="EOS.objectDoc.revetementId">
                <option *ngFor="let r of EOS.refs.RefRevetement | refSort: EOS.showText('fullName')"
                  [ngValue]="r.id"
                  [selected]="EOS.objectDoc.revetementId === r.id">
                      {{ r.libelle ? r.libelle : 'labelle undefined / id:  ' + r.id }}
                </option>
        </select>
    </div>
    <div *ngIf="EOS.showText('abstract')">
        <select id="coating" class="browser-default" name="coating" [(ngModel)]="EOS.objectDoc.revetementId">
            <option *ngFor="let r of EOS.refs.RefRevetement | refSort: EOS.showText('fullName')"
                    [ngValue]="r.id"
                    [selected]="EOS.objectDoc.revetementId === r.id">
                {{r.abrege ? r.abrege : r.designation + ' : ' + r.libelle}}
            </option>
        </select>
    </div>
    <div *ngIf="EOS.showText('both')">
      <select id="coating" class="browser-default" name="orientation" [(ngModel)]="EOS.objectDoc.revetementId">
          <option *ngFor="let r of EOS.refs.RefRevetement | refSort: EOS.showText('fullName')"
                  [ngValue]="r.id"
                  [selected]="EOS.objectDoc.revetementId === r.id">
                  {{r.abrege ? (r.abrege + ' : ' + r.libelle) : (r.designation + ' : ' + r.libelle)}}
          </option>
      </select>
    </div>
  </div>
  <div class="sirs-field col col-50">
    <label for="use" class="active">Usage</label>
    <div *ngIf="EOS.showText('fullName')">
        <select id="use" class="browser-default"
                name="use" [(ngModel)]="EOS.objectDoc.usageId">
                <option *ngFor="let r of EOS.refs.RefUsageVoie | refSort: EOS.showText('fullName')"
                  [ngValue]="r.id"
                  [selected]="EOS.objectDoc.usageId === r.id">
                      {{ r.libelle ? r.libelle : 'labelle undefined / id:  ' + r.id }}
                </option>
        </select>
    </div>
    <div *ngIf="EOS.showText('abstract')">
        <select id="use" class="browser-default" name="use" [(ngModel)]="EOS.objectDoc.usageId">
            <option *ngFor="let r of EOS.refs.RefUsageVoie | refSort: EOS.showText('fullName')"
                    [ngValue]="r.id"
                    [selected]="EOS.objectDoc.usageId === r.id">
                {{r.abrege ? r.abrege : r.designation + ' : ' + r.libelle}}
            </option>
        </select>
    </div>
    <div *ngIf="EOS.showText('both')">
      <select id="use" class="browser-default" name="use" [(ngModel)]="EOS.objectDoc.usageId">
          <option *ngFor="let r of EOS.refs.RefUsageVoie | refSort: EOS.showText('fullName')"
                  [ngValue]="r.id"
                  [selected]="EOS.objectDoc.usageId === r.id">
                  {{r.abrege ? (r.abrege + ' : ' + r.libelle) : (r.designation + ' : ' + r.libelle)}}
          </option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="sirs-field col col-50">
    <form-template-position-digue></form-template-position-digue>
  </div>
  <div class="sirs-field col col-50">
    <form-template-cote-digue></form-template-cote-digue>
  </div>
</div>
