<div class="sirs-field">
  <label for="label" class="active">Libellé</label>
  <input id="label" type="text" name="label" [(ngModel)]="EOS.objectDoc.libelle"/>
</div>
<div class="row">
  <div class="sirs-field col col-50">
      <label for="resType" class="active">Type de réseau</label>
      <select id="resType" name="resType" class="browser-default"
              [(ngModel)]="EOS.objectDoc.typeReseauHydroCielOuvertId">
          <option [value]="undefined" [selected]="EOS.objectDoc.typeReseauHydroCielOuvertId === undefined" selected>Non renseigné</option>
          <option *ngFor="let r of EOS.refs.RefReseauHydroCielOuvert | refSort: EOS.showText('fullName');" [value]="r.id"
                  [selected]="EOS.objectDoc.typeReseauHydroCielOuvertId === r.id">
              {{ r | docToString | async }}
          </option>
      </select>
  </div>
</div>
<div class="sirs-field col col-100" *ngIf="EOS.objectDoc.reseauHydrauliqueFermeIds && EOS.objectDoc.reseauHydrauliqueFermeIds.length>0">
  <label class="active">Réseau hydraulique fermé associé</label>
  <div class="row sirs-field-multi" *ngFor="let v of EOS.objectDoc.reseauHydrauliqueFermeIds; index as index">
    <div class="col col-75">
        <select class="browser-default"
                [(ngModel)]="EOS.objectDoc.reseauHydrauliqueFermeIds[index]">
            <option [value]="undefined" [selected]="EOS.objectDoc.reseauHydrauliqueFermeIds[index] === undefined" selected>Non renseigné</option>
            <option *ngFor="let r of EOS.refs.ReseauHydrauliqueFerme | refSort: EOS.showText('fullName');" [value]="r.id"
                    [selected]="EOS.objectDoc.reseauHydrauliqueFermeIds[index] === r.id">
                {{ r | docToString | async }}
            </option>
        </select>
    </div>
    <div class="col col-25">
      <button class="btn pink waves-effect waves-teal" [disabled]="EOS.objectDoc.reseauHydrauliqueFermeIds.length === 1"
              (click)="EOS.objectDoc.reseauHydrauliqueFermeIds.splice(index, 1)">
          <ion-icon name="remove-outline"></ion-icon>
      </button>
      <button class="btn pink waves-effect waves-teal"
              (click)="EOS.objectDoc.reseauHydrauliqueFermeIds.splice(index + 1, 0, EOS.refs.ReseauHydrauliqueFerme[0].id)">
          <ion-icon name="add-outline"></ion-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="sirs-field col col-50">
      <form-template-position-digue></form-template-position-digue>
  </div>
  <div class="sirs-field col col-50">
    <form-template-cote-digue></form-template-cote-digue>
  </div>
</div>
<div class="sirs-field">
  <label class="active">Sécurité</label>
  <select id="securite" class="browser-default" name="securite" [(ngModel)]="EOS.objectDoc.securiteId">
      <option [value]="undefined" [selected]="EOS.objectDoc.securiteId === undefined" selected>Non renseigné</option>
    <option *ngFor="let r of EOS.refs.RefSecurite | refSort: EOS.showText('fullName')" [value]="r.id"
      [selected]="EOS.objectDoc.securiteId === r.id">
      {{ r | docToString | async }}
    </option>
  </select>
</div>
<div class="sirs-field">
  <label for="dimensionVerticale" class="active">Dimension vertical/diamètre (mm)</label>
  <input id="dimensionVerticale" name="dimensionVerticale" type="number" min=0
    [(ngModel)]="EOS.objectDoc.dimensionVerticale" />
</div>
<div class="sirs-field">
  <label for="dimensionHorizontale" class="active">Dimension horizontale (mm)</label>
  <input id="dimensionHorizontale" name="dimensionHorizontale" type="number" min=0
    [(ngModel)]="EOS.objectDoc.dimensionHorizontale" />
</div>
