<div class="sirs-panel">
  <div class="sirs-field-inline">
      <span class="sirs-field-title">Numéro de désignation : </span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.designation"></span>
  </div>
</div>
<div class="sirs-section">
  <div class="sirs-field">
      <span class="sirs-field-title">Largeur</span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.largeur"></span>
  </div>
  <div class="sirs-field">
      <span class="sirs-field-title">Commentaire</span>
      <span class="sirs-field-value" [textContent]="detailsObject.selectedObject.commentaire"></span>
  </div>
</div>