<div class="full-height observation-general" [ngSwitch]="view">
  <div fxLayout="column" fxLayoutAlign="center">
    <div class="observation-form" *ngSwitchCase="'form'">
      <ion-content>
          <form class="sirs-card" #observationForm="ngForm">
            <div class="sirs-card-content" [ngSwitch]="tab">
              <h2 class="sirs-card-title" *ngIf="OES.isNewObject">Nouvelle observation</h2>
              <h2 class="sirs-card-title" *ngIf="!OES.isNewObject">Editer une observation</h2>

              <ul #tabs class="tabs">
                  <li class="tab"><a [ngClass]="{active: tab === 'medias'}" (click)="setTab('medias')">Medias</a></li>
                  <li class="tab"><a [ngClass]="{active: tab === 'suite'}" (click)="setTab('suite')">Suite à apporter</a></li>
                  <li class="tab"><a [ngClass]="{active: tab === 'urgence'}" (click)="setTab('urgence')">Urgence</a></li>
                  <li class="tab"><a [ngClass]="{active: tab === 'evolution'}" (click)="setTab('evolution')">Evolution</a></li>
                  <li class="tab"><a [ngClass]="{active: tab === 'nombre'}" (click)="setTab('nombre')">Nombre</a></li>
                  <li class="tab"><a [ngClass]="{active: tab === 'observateur'}" (click)="setTab('observateur')">Observateur</a></li>
              </ul>

              <div class="medias" *ngSwitchCase="'medias'">
                <div class="pics row" *ngIf="OES.showContent">
                  <div class="pic col col-25" *ngIf="OES.mediaPath">
                    <div *ngFor="let photo of OES.photos" (ngInit)="OES.loadImage(photo)">
                      <div class="progress" *ngIf="!OES.loaded[photo.id]">
                        <div class="indeterminate"></div>
                      </div>
                      <div class="pic-quicklook" *ngIf="OES.loaded[photo.id]">
                        <img alt="Photo non disponible" (click)="OES.open(photo)" [src]="OES.getPhotoPath(photo)" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-large waves-effect waves-teal" 
                  (click)="goToMedia()">
                    <ion-icon name="images-outline"></ion-icon>
                    Ajouter un media
                  </button>
                </div>
              </div>
              <div class="evolution" *ngSwitchCase="'evolution'">
                <div class="sirs-field">
                  <label for="description" class="active">Description</label>
                  <textarea id="description" class="materialize-textarea"
                  [(ngModel)]="OES.doc.evolution"></textarea>
                </div>
              </div>
              <div class="urgence" *ngSwitchCase="'urgence'">
                <div *ngIf="showText('fullName')">
                  <select id="urgenceList" class="browser-default"
                          [(ngModel)]="OES.urgence">
                          <option *ngFor="let urgence of OES.urgenceList.sort(compareRef)"
                          [value]="urgence.id" (ngModelChange)="changeUrgence()"
                          [selected]="urgence.id === OES.urgence">
                            {{ urgence.libelle ? urgence.libelle : 'libelle undefined / id: ' + urgence.id }}
                          </option>
                  </select>
                </div>
                <div *ngIf="showText('abstract')">
                    <select id="urgenceList" class="browser-default"
                    [(ngModel)]="OES.urgence">
                        <option *ngFor="let urgence of OES.urgenceList.sort(compareRef)"
                                [value]="urgence.id"
                                (ngModelChange)="changeUrgence()"
                                [selected]="OES.urgence === urgence.id">
                            {{ urgence.abrege ? urgence.abrege : urgence.designation + ' : ' +
                            urgence.libelle }}
                        </option>
                    </select>
                </div>
                <div *ngIf="showText('both')">
                    <select id="urgenceList" class="browser-default" [(ngModel)]="OES.urgence">
                        <option *ngFor="let urgence of OES.urgenceList.sort(compareRef)"
                                [value]="urgence.id"
                                (ngModelChange)="changeUrgence()"
                                [selected]="OES.urgence === urgence.id">
                            {{ urgence.abrege ? (urgence.abrege + ' : ' + urgence.libelle) :
                            (urgence.designation + ' : ' + urgence.libelle) }}
                        </option>
                    </select>
                </div>
              </div>
              <div class="nombre" *ngSwitchCase="'nombre'">

              </div>
              <div class="suite" *ngSwitchCase="'suite'">

              </div>
              <div class="observateur" *ngSwitchCase="'observateur'">

              </div>
            </div>
          </form>
        </ion-content>
      </div>
    <div class="full-height full-width" *ngSwitchCase="'media'">
      <observation-media class="observation-form" (viewChange)="setView($event)"></observation-media>
    </div>
  </div>
</div>
